openapi: 3.2.0
info:
  title: Outbrain Amplify IAB category Targeting API
  version: '0.1'
  description: This API describes the interfaces for interacting with the Outbrain Amplify product.
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: IAB category Targeting
  description: IAB category Targeting gives you the abillity to select your preferred IAB categories in your campaign setup.
paths:
  /iabcategories/all:
    get:
      operationId: getIabcategoriesAll
      summary: Retrieve all available IAB categories
      description: Returns all available IAB categories.
      tags:
      - IAB category Targeting
      responses:
        '200':
          description: All available IAB categories.
          content:
            application/json:
              schema:
                type: object
              example:
                categories:
                - categoryId: IAB1
                  categoryName: Arts & Entertainment
                  children:
                  - categoryId: IAB1-1
                    categoryName: Books & Literature
                    parentId: IAB1
                    pageViews: 55115277
                    children: []
                  - categoryId: IAB1-2
                    categoryName: Celebrity Fan/Gossip
                    parentId: IAB1
                    pageViews: 399550717
                    children: []
                  - categoryId: IAB1-3
                    categoryName: Fine Art
                    parentId: IAB1
                    pageViews: 48977486
                    children: []
                - categoryId: IAB10
                  categoryName: Home & Garden
                  children:
                  - categoryId: IAB10-1
                    categoryName: Appliances
                    parentId: IAB10
                    pageViews: 17408283
                    children: []
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 400/401/403/404/429 responses.
      properties:
        moreInfo:
          type: string
          description: Short machine-readable hint identifying the failing operation.
        errorMessage:
          type: string
          description: Human-readable error message.
      examples:
      - moreInfo: get-budget
        errorMessage: access denied
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token obtained from GET /login (HTTP Basic) or from https://my.outbrain.com/create-token. Valid for 30 days.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials used only on GET /login to obtain an OB-TOKEN-V1 token.
