openapi: 3.1.0
info:
  title: Outbrain Amplify Authentication Targeting API
  description: 'The Outbrain Amplify API enables advertisers, agencies, and technology partners to integrate Amplify campaign management and reporting into their own tools and platforms. The API is organized around core entities: Marketer (a customer account), Campaign (a collection of promoted links), PromotedLink (a single piece of promoted content), Budget, AudienceTargeting, and PerformanceBy* analytics resources for retrieving performance metrics.

    '
  version: '0.1'
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
  license:
    name: Outbrain Amplify API Terms and Conditions
    url: https://www.outbrain.com/legal/
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: Targeting
  description: Audience and contextual targeting
paths:
  /campaigns/{campaignId}/targeting/audience:
    get:
      summary: Get Audience Targeting For A Campaign
      description: Retrieve audience targeting (segments, geo, devices, OS, browsers) for a campaign.
      operationId: getAudienceTargeting
      tags:
      - Targeting
      parameters:
      - $ref: '#/components/parameters/CampaignIdPath'
      responses:
        '200':
          description: Audience targeting object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceTargeting'
    put:
      summary: Update Audience Targeting For A Campaign
      description: Update the audience targeting configuration for a campaign.
      operationId: updateAudienceTargeting
      tags:
      - Targeting
      parameters:
      - $ref: '#/components/parameters/CampaignIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudienceTargeting'
      responses:
        '200':
          description: Audience targeting updated.
components:
  schemas:
    AudienceTargeting:
      type: object
      properties:
        geoTargeting:
          type: array
          items:
            type: string
          description: ISO country codes.
        platformTargeting:
          type: array
          items:
            type: string
            enum:
            - DESKTOP
            - TABLET
            - SMARTPHONE
        operatingSystems:
          type: array
          items:
            type: string
        browsers:
          type: array
          items:
            type: string
        interestSegments:
          type: array
          items:
            type: string
  parameters:
    CampaignIdPath:
      name: campaignId
      in: path
      required: true
      schema:
        type: string
      description: Campaign identifier.
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token returned from /login. Send on all authenticated requests.
    BasicAuth:
      type: http
      scheme: basic
