openapi: 3.1.0
info:
  title: Outbrain Amplify Authentication PromotedLinks API
  description: 'The Outbrain Amplify API enables advertisers, agencies, and technology partners to integrate Amplify campaign management and reporting into their own tools and platforms. The API is organized around core entities: Marketer (a customer account), Campaign (a collection of promoted links), PromotedLink (a single piece of promoted content), Budget, AudienceTargeting, and PerformanceBy* analytics resources for retrieving performance metrics.

    '
  version: '0.1'
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
  license:
    name: Outbrain Amplify API Terms and Conditions
    url: https://www.outbrain.com/legal/
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: PromotedLinks
  description: Promoted link (ad creative) management
paths:
  /campaigns/{campaignId}/promotedLinks:
    get:
      summary: List Promoted Links For A Campaign
      description: Retrieve all promoted links (ad creatives) in a campaign.
      operationId: listPromotedLinks
      tags:
      - PromotedLinks
      parameters:
      - $ref: '#/components/parameters/CampaignIdPath'
      responses:
        '200':
          description: A list of promoted links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedLinkList'
    post:
      summary: Create A Promoted Link
      description: Create a new promoted link inside a campaign.
      operationId: createPromotedLink
      tags:
      - PromotedLinks
      parameters:
      - $ref: '#/components/parameters/CampaignIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedLinkRequest'
      responses:
        '201':
          description: Promoted link created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedLink'
  /promotedLinks/{promotedLinkId}:
    get:
      summary: Get A Promoted Link By Id
      description: Retrieve a single promoted link by its identifier.
      operationId: getPromotedLink
      tags:
      - PromotedLinks
      parameters:
      - $ref: '#/components/parameters/PromotedLinkIdPath'
      responses:
        '200':
          description: A promoted link resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotedLink'
    put:
      summary: Update A Promoted Link
      description: Update an existing promoted link.
      operationId: updatePromotedLink
      tags:
      - PromotedLinks
      parameters:
      - $ref: '#/components/parameters/PromotedLinkIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromotedLinkRequest'
      responses:
        '200':
          description: Promoted link updated.
components:
  parameters:
    PromotedLinkIdPath:
      name: promotedLinkId
      in: path
      required: true
      schema:
        type: string
    CampaignIdPath:
      name: campaignId
      in: path
      required: true
      schema:
        type: string
      description: Campaign identifier.
  schemas:
    PromotedLinkRequest:
      type: object
      required:
      - text
      - url
      properties:
        text:
          type: string
        url:
          type: string
          format: uri
        imageUrl:
          type: string
          format: uri
        enabled:
          type: boolean
    PromotedLink:
      type: object
      properties:
        id:
          type: string
        campaignId:
          type: string
        text:
          type: string
        url:
          type: string
          format: uri
        cachedImageUrl:
          type: string
          format: uri
        enabled:
          type: boolean
        status:
          type: string
          enum:
          - pending
          - approved
          - rejected
    PromotedLinkList:
      type: object
      properties:
        count:
          type: integer
        promotedLinks:
          type: array
          items:
            $ref: '#/components/schemas/PromotedLink'
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token returned from /login. Send on all authenticated requests.
    BasicAuth:
      type: http
      scheme: basic
