openapi: 3.2.0
info:
  title: Outbrain Amplify Sections API
  version: '0.1'
  description: This API describes the interfaces for interacting with the Outbrain Amplify product.
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: Sections
  description: A Section is a specific content within the publisher's site such as sports, business etc.
paths:
  /sections:
    post:
      operationId: createSections
      summary: List all metadata for section IDs
      description: This request allows to obtain a full list of sections' metadata, given by sections' ids. Returns a Sections Collection Response object
      tags:
      - Sections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              sectionsIds:
              - 000620da8a5a58f0a0a835f896392080dd
              - 00601a2477c475b38f844f84561c0be976
              - 007698d5013b122a759292473879c56a45
      responses:
        '200':
          description: JSON representation of Sections Resource
          content:
            application/json:
              schema:
                type: object
              example:
                sections:
                - id: 000620da8a5a58f0a0a835f896392080dd
                  name: section name
                - id: 00601a2477c475b38f844f84561c0be976
                  name: section name
                  publisher:
                    id: 00860196c29a7a9666e74abf973c295d21
                    name: publisher name
                - id: 007698d5013b122a759292473879c56a45
                  name: section name
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 400/401/403/404/429 responses.
      properties:
        moreInfo:
          type: string
          description: Short machine-readable hint identifying the failing operation.
        errorMessage:
          type: string
          description: Human-readable error message.
      examples:
      - moreInfo: get-budget
        errorMessage: access denied
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token obtained from GET /login (HTTP Basic) or from https://my.outbrain.com/create-token. Valid for 30 days.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials used only on GET /login to obtain an OB-TOKEN-V1 token.
