openapi: 3.2.0
info:
  title: Outbrain Amplify Promoted Links Sequences API
  version: '0.1'
  description: This API describes the interfaces for interacting with the Outbrain Amplify product.
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: PromotedLinksSequences
  description: 'Sequences comes in 2 formats:


    -

    Carousel - multi-promotedLink format that features CTA buttons, brand logo, and more.'
paths:
  /promotedLinksSequences/{id}:
    get:
      operationId: getPromotedLinksSequencesId
      summary: Retrieve a Single PromotedLinkSequence
      tags:
      - PromotedLinksSequences
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the id of the PromotedLinksSequence
        example: 0022310af9cb6398828bf2abd1445aa9fe
      responses:
        '200':
          description: JSON representation of PromotedLinksSequence Resource
          content:
            application/json:
              schema:
                type: object
              example:
                id: 0022310af9cb6398828bf2abd1445aa9fe
                campaignId: 009247e650fa2b633751c9d8d21689e626
                title: title
                enabled: true
                onAirStatus:
                  onAir: false
                  reason: CAMPAIGN_OFF_AIR
                cachedLogoUrl: http://image.com
                sponsor: Sponser
                promotedLinks:
                - id: 004a20d8a639b14703b76c7f9cfbde81f6
                  text: text1
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image1.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 2
                  approvalStatus:
                    status: Pending
                    isEditable: true
                  imageType: Standard
                  language: en
                - id: 00edb86a9edd703c67af97b31466188e56
                  text: text2
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image2.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 1
                  approvalStatus:
                    status: Pending
                    isEditable: true
                creationTime: '2020-09-23 05:30:43'
                lastModified: '2020-09-23 05:30:43'
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /campaigns/{campaignId}/promotedLinksSequences:
    post:
      operationId: createCampaignsCampaignIdPromotedLinksSequences
      summary: Create a PromotedLinkSequence
      description: 'You can create a new promoted links sequence and associate it with an existing campaign.


        POST a JSON hash with the following attributes:


        -

        title - Optional for carousels only


        -

        enabled - mandatory


        -

        logoUrl - mandatory


        -

        sponsor - mandatory


        -

        promotedLinks - mandatory, See Sub Promoted Link Object


        -

        ratingEnabled - optional for app install only, false by default'
      tags:
      - PromotedLinksSequences
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: The Id of the Campaign
        example: campaignId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              title: title
              enabled: true
              logoUrl: logoUrl
              sponsor: sponsor
              promotedLinks:
              - id: 00b38b4ab4c5490bf8fe707c5448d77b56
                sequenceSettings:
                  sequenceOrder: 3
              - id: 00d636d8a5019132acc6edf71916da8594
                sequenceSettings:
                  sequenceOrder: 2
              - id: 00ede8c0a39e447ac2247013b0445eecc9
                sequenceSettings:
                  sequenceOrder: 1
      responses:
        '200':
          description: JSON representation of PromotedLinksSequence Resource
          content:
            application/json:
              schema:
                type: object
              example:
                id: 0022310af9cb6398828bf2abd1445aa9fe
                campaignId: 009247e650fa2b633751c9d8d21689e626
                title: title
                enabled: true
                onAirStatus:
                  onAir: false
                  reason: CAMPAIGN_OFF_AIR
                cachedLogoUrl: http://image.com
                sponsor: Sponser
                promotedLinks:
                - id: 004a20d8a639b14703b76c7f9cfbde81f6
                  text: text1
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image1.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 2
                  approvalStatus:
                    status: Pending
                    isEditable: true
                  imageType: Standard
                  language: en
                - id: 00edb86a9edd703c67af97b31466188e56
                  text: text2
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image2.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 1
                  approvalStatus:
                    status: Pending
                    isEditable: true
                creationTime: '2020-09-23 05:30:43'
                lastModified: '2020-09-23 05:30:43'
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: getCampaignsCampaignIdPromotedLinksSequences
      summary: List PromotedLinksSequences for Campaign
      description: 'Collection of all PromotedLinksSequences for the specified Campaign.

        Results can be filtered by supplying additional query parameters.


        The PromotedLinksSequences collection resource has the following attributes:


        -

        sequences - Array of Promoted Links Sequence.


        -

        count - Number of PromotedLinksSequences returned in the sequences array included in this response.


        -

        totalCount - Total number of PromotedLinksSequence regardless of ''limit'' and ''offset'' parameters, used for pagination.'
      tags:
      - PromotedLinksSequences
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: string
        description: The Id of the Campaign
        example: abf4b02153ee75f3cadc4fc128ab0419ab
      - name: onAir
        in: query
        required: false
        schema:
          type: boolean
        description: filter only on air sequences
        example: 'true'
      - name: limit
        in: query
        required: false
        schema:
          type: number
        description: num of PromotedLinksSequence to retrieve. default is 25. Maximum is 50
        example: '200'
      - name: offset
        in: query
        required: false
        schema:
          type: number
        description: index of the first PromotedLink in the result, zero based. default is 0
        example: '3'
      responses:
        '200':
          description: JSON representation of all PromotedLinksSequences associated with Campaign {id}
          content:
            application/json:
              schema:
                type: object
              example:
                sequences:
                - id: 0022310af9cb6398828bf2abd1445aa9fe
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  title: title
                  enabled: true
                  onAirStatus:
                    onAir: false
                    reason: CAMPAIGN_OFF_AIR
                  cachedLogoUrl: http://image.com
                  sponsor: Sponser
                  promotedLinks:
                  - id: 004a20d8a639b14703b76c7f9cfbde81f6
                    text: text1
                    creationTime: '2020-09-23 05:30:43'
                    lastModified: '2020-09-23 05:30:43'
                    url: https://url1.com
                    siteName: siteName
                    sectionName: sectionName
                    status: PENDING
                    enabled: true
                    cachedImageUrl: http://image1.com
                    campaignId: 009247e650fa2b633751c9d8d21689e626
                    archived: false
                    documentLanguage: EN
                    onAirStatus:
                      onAir: false
                      reason: SEQUENCE_OFF_AIR
                    baseUrl: https://baseUrl.com
                    documentId: 00f863c5674af5c5f63415500f699a04e5
                    sequenceSettings:
                      sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                      sequenceOrder: 2
                    approvalStatus:
                      status: Pending
                      isEditable: true
                    imageType: Standard
                    language: en
                  - id: 00edb86a9edd703c67af97b31466188e56
                    text: text2
                    creationTime: '2020-09-23 05:30:43'
                    lastModified: '2020-09-23 05:30:43'
                    url: https://url1.com
                    siteName: siteName
                    sectionName: sectionName
                    status: PENDING
                    enabled: true
                    cachedImageUrl: http://image2.com
                    campaignId: 009247e650fa2b633751c9d8d21689e626
                    archived: false
                    documentLanguage: EN
                    onAirStatus:
                      onAir: false
                      reason: SEQUENCE_OFF_AIR
                    baseUrl: https://baseUrl.com
                    documentId: 00f863c5674af5c5f63415500f699a04e5
                    sequenceSettings:
                      sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                      sequenceOrder: 1
                    approvalStatus:
                      status: Pending
                      isEditable: true
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                totalCount: 1
                count: 1
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /promotedLinksSequences/{promotedLinksSequenceId}:
    put:
      operationId: updatePromotedLinksSequencesPromotedLinksSequenceId
      summary: Update a PromotedLinkSequence
      description: 'To update a promotedLinkSequence send a JSON with the updated value for one or more of the updatable promotedLinkSequence attributes.


        All attribute values left unset in this PUT will remain unchanged.


        Only the following PromotedLinkSequence properties are updatable:


        -

        title - For carousels only, Maximum length is 150 characters


        -

        enabled


        -

        logoUrl


        -

        sponsor


        -

        promotedLinks - See Sub Promoted Link Object


        -

        ratingEnabled - for app install only'
      tags:
      - PromotedLinksSequences
      parameters:
      - name: promotedLinksSequenceId
        in: path
        required: true
        schema:
          type: string
        description: The Id of the PromotedLinkSequence
        example: promotedLinksSequenceId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              title: new title
              enabled: true
              logoUrl: newLogoUrl
              sponsor: new sponsor
              promotedLinks:
              - id: 00b38b4ab4c5490bf8fe707c5448d77b56
                sequenceSettings:
                  sequenceOrder: 1
              - id: 00d636d8a5019132acc6edf71916da8594
                sequenceSettings:
                  sequenceOrder: 2
              - id: 00ede8c0a39e447ac2247013b0445eecc9
                sequenceSettings:
                  sequenceOrder: 3
      responses:
        '200':
          description: JSON representation of PromotedLinksSequence Resource
          content:
            application/json:
              schema:
                type: object
              example:
                id: 0022310af9cb6398828bf2abd1445aa9fe
                campaignId: 009247e650fa2b633751c9d8d21689e626
                title: title
                enabled: true
                onAirStatus:
                  onAir: false
                  reason: CAMPAIGN_OFF_AIR
                cachedLogoUrl: http://image.com
                sponsor: Sponser
                promotedLinks:
                - id: 004a20d8a639b14703b76c7f9cfbde81f6
                  text: text1
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image1.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 2
                  approvalStatus:
                    status: Pending
                    isEditable: true
                  imageType: Standard
                  language: en
                - id: 00edb86a9edd703c67af97b31466188e56
                  text: text2
                  creationTime: '2020-09-23 05:30:43'
                  lastModified: '2020-09-23 05:30:43'
                  url: https://url1.com
                  siteName: siteName
                  sectionName: sectionName
                  status: PENDING
                  enabled: true
                  cachedImageUrl: http://image2.com
                  campaignId: 009247e650fa2b633751c9d8d21689e626
                  archived: false
                  documentLanguage: EN
                  onAirStatus:
                    onAir: false
                    reason: SEQUENCE_OFF_AIR
                  baseUrl: https://baseUrl.com
                  documentId: 00f863c5674af5c5f63415500f699a04e5
                  sequenceSettings:
                    sequenceId: 0022310af9cb6398828bf2abd1445aa9fe
                    sequenceOrder: 1
                  approvalStatus:
                    status: Pending
                    isEditable: true
                creationTime: '2020-09-23 05:30:43'
                lastModified: '2020-09-23 05:30:43'
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 400/401/403/404/429 responses.
      properties:
        moreInfo:
          type: string
          description: Short machine-readable hint identifying the failing operation.
        errorMessage:
          type: string
          description: Human-readable error message.
      examples:
      - moreInfo: get-budget
        errorMessage: access denied
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token obtained from GET /login (HTTP Basic) or from https://my.outbrain.com/create-token. Valid for 30 days.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials used only on GET /login to obtain an OB-TOKEN-V1 token.
