openapi: 3.2.0
info:
  title: Outbrain Amplify Authentications API
  version: '0.1'
  description: This API describes the interfaces for interacting with the Outbrain Amplify product.
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: Authentications
  description: 'Token

    Obtaining a token should be your 1st step toward using Amplify API.'
paths:
  /login:
    get:
      operationId: getLogin
      summary: via API
      description: 'Yes, you can obtain a new token using the Amplify API. Why? API is all about automation, so why not obtain a new token using the API before your token expires?


        This API transaction is the only one in which you need to supply your Outbrain credentials.


        Your credentials should be sent using Basic Authentication.


        This means that the HTTP Request should include a header:


        named Authorization

        value: BASIC BASE-64-ENC(YOUR_OUTBRAIN_USER_NAME:YOUR_OUTBRAIN_PASSWORD)


        Since all communication to Amplify API are HTTPS, your credentials are safe.


        You can try it using curl command (add -v to actually see the Authorization HTTP header:


        curl -u YOUR_OUTBRAIN_USER_NAME:YOUR_OUTBRAIN_PASSWORD https://api.outbrain.com/amplify/v0.1/login


        Transport Layer Security version 1.2 (TLS 1.2) is mandatory for communication with Amplify API.

        You will need to verify that your environment supports TLS 1.2, and if necessary make appropriate updates.


        Please note that older versions of curl do not support TLS 1.2 and need to be upgraded.'
      tags:
      - Authentications
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                OB-TOKEN-V1: IF_YOU_GOT_THIS_TOKEN_IT_MEANS_THAT_YOU_ARE_USING_OUR_MOCK_SERVER__USE_OUTBRAIN_PRODUCTION_SERVER_TO_GET_A_LIVE_TOKEN
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 400/401/403/404/429 responses.
      properties:
        moreInfo:
          type: string
          description: Short machine-readable hint identifying the failing operation.
        errorMessage:
          type: string
          description: Human-readable error message.
      examples:
      - moreInfo: get-budget
        errorMessage: access denied
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token obtained from GET /login (HTTP Basic) or from https://my.outbrain.com/create-token. Valid for 30 days.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials used only on GET /login to obtain an OB-TOKEN-V1 token.
