openapi: 3.2.0
info:
  title: Outbrain Engage Events API
  description: The Outbrain Engage API powers content recommendation widgets across the open web. It is the publisher-facing interface for retrieving personalized content recommendations (organic + sponsored) to render in Outbrain widgets. Used by the Outbrain JS Widget, the Mobile SDK (iOS/Android), Smartfeed implementations, and app mediation integrations.
  version: '1.0'
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
  license:
    name: Outbrain Publisher Terms
    url: https://www.outbrain.com/legal/
servers:
- url: https://odb.outbrain.com
  description: Production Engage / recommendations endpoint
security:
- PublisherKeyAuth: []
tags:
- name: Events
  description: Impression and click events
paths:
  /report/impression:
    post:
      summary: Report A Widget Impression
      description: Report that an Outbrain widget rendered impressions for one or more recommendations.
      operationId: reportImpression
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpressionEvent'
      responses:
        '204':
          description: Event recorded.
  /report/click:
    post:
      summary: Report A Recommendation Click
      description: Report a user click on a recommendation served by an Outbrain widget.
      operationId: reportClick
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickEvent'
      responses:
        '204':
          description: Event recorded.
components:
  schemas:
    ClickEvent:
      type: object
      required:
      - widgetJSId
      - publisherKey
      - recommendationId
      properties:
        widgetJSId:
          type: string
        publisherKey:
          type: string
        recommendationId:
          type: string
        permalink:
          type: string
          format: uri
    ImpressionEvent:
      type: object
      required:
      - widgetJSId
      - publisherKey
      - recommendationIds
      properties:
        widgetJSId:
          type: string
        publisherKey:
          type: string
        recommendationIds:
          type: array
          items:
            type: string
        permalink:
          type: string
          format: uri
  securitySchemes:
    PublisherKeyAuth:
      type: apiKey
      in: query
      name: publisherKey
