openapi: 3.1.0
info:
  title: Outbrain Amplify Authentication Marketers API
  description: 'The Outbrain Amplify API enables advertisers, agencies, and technology partners to integrate Amplify campaign management and reporting into their own tools and platforms. The API is organized around core entities: Marketer (a customer account), Campaign (a collection of promoted links), PromotedLink (a single piece of promoted content), Budget, AudienceTargeting, and PerformanceBy* analytics resources for retrieving performance metrics.

    '
  version: '0.1'
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
  license:
    name: Outbrain Amplify API Terms and Conditions
    url: https://www.outbrain.com/legal/
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: Marketers
  description: Marketer (customer account) resources
paths:
  /marketers:
    get:
      summary: List Marketers For The Authenticated User
      description: Retrieve all marketers (customer accounts) accessible to the authenticated user.
      operationId: listMarketers
      tags:
      - Marketers
      responses:
        '200':
          description: A list of marketers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketerList'
  /marketers/{marketerId}:
    get:
      summary: Get A Marketer By Id
      description: Retrieve a single marketer by its identifier.
      operationId: getMarketer
      tags:
      - Marketers
      parameters:
      - $ref: '#/components/parameters/MarketerIdPath'
      responses:
        '200':
          description: A marketer resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Marketer'
components:
  parameters:
    MarketerIdPath:
      name: marketerId
      in: path
      required: true
      schema:
        type: string
      description: Marketer (customer account) identifier.
  schemas:
    MarketerList:
      type: object
      properties:
        count:
          type: integer
        marketers:
          type: array
          items:
            $ref: '#/components/schemas/Marketer'
    Marketer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        currency:
          type: string
        enabled:
          type: boolean
        creationTime:
          type: string
          format: date-time
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token returned from /login. Send on all authenticated requests.
    BasicAuth:
      type: http
      scheme: basic
