openapi: 3.1.0
info:
  title: Outbrain Amplify Authentication Events API
  description: 'The Outbrain Amplify API enables advertisers, agencies, and technology partners to integrate Amplify campaign management and reporting into their own tools and platforms. The API is organized around core entities: Marketer (a customer account), Campaign (a collection of promoted links), PromotedLink (a single piece of promoted content), Budget, AudienceTargeting, and PerformanceBy* analytics resources for retrieving performance metrics.

    '
  version: '0.1'
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
  license:
    name: Outbrain Amplify API Terms and Conditions
    url: https://www.outbrain.com/legal/
servers:
- url: https://odb.outbrain.com
  description: Production Engage / recommendations endpoint
security:
- OBTokenAuth: []
tags:
- name: Events
  description: Impression and click events
paths:
  /report/impression:
    post:
      summary: Report A Widget Impression
      description: Report that an Outbrain widget rendered impressions for one or more recommendations.
      operationId: reportImpression
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImpressionEvent'
      responses:
        '204':
          description: Event recorded.
  /report/click:
    post:
      summary: Report A Recommendation Click
      description: Report a user click on a recommendation served by an Outbrain widget.
      operationId: reportClick
      tags:
      - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickEvent'
      responses:
        '204':
          description: Event recorded.
components:
  schemas:
    ClickEvent:
      type: object
      required:
      - widgetJSId
      - publisherKey
      - recommendationId
      properties:
        widgetJSId:
          type: string
        publisherKey:
          type: string
        recommendationId:
          type: string
        permalink:
          type: string
          format: uri
    ImpressionEvent:
      type: object
      required:
      - widgetJSId
      - publisherKey
      - recommendationIds
      properties:
        widgetJSId:
          type: string
        publisherKey:
          type: string
        recommendationIds:
          type: array
          items:
            type: string
        permalink:
          type: string
          format: uri
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token returned from /login. Send on all authenticated requests.
    BasicAuth:
      type: http
      scheme: basic
