openapi: 3.2.0
info:
  title: Outbrain Amplify Currencies API
  version: '0.1'
  description: This API describes the interfaces for interacting with the Outbrain Amplify product.
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
security:
- OBTokenAuth: []
tags:
- name: Currencies
  description: Metadata about the available currencies
paths:
  /currencies:
    get:
      operationId: getCurrencies
      summary: List Currencies
      description: 'The Currencies is a collection of currency objects with the following attributes


        Property

        Type

        Semantic

        Example


        code

        String

        3 letters ISO 4217 currency code

        USD


        name

        String

        Currency name

        United States dollar


        minimumCpc

        Money

        The minimal CPC value for thic currency, relevant for creating or updating campaign

        0.03


        maximumCpc

        Money

        The maximal CPC value for thic currency, relevant for creating or updating campaign

        2.0


        minimumCampaignBudget

        Money

        The minimum daily campaign budget

        25'
      tags:
      - Currencies
      responses:
        '200':
          description: JSON representation of Campaign Resource
          content:
            application/json:
              schema:
                type: object
              example:
                currencies:
                - name: US Dollar
                  maximumCpc: 2
                  minimumCpc: 0.03
                  code: USD
                  minimumCampaignBudget: 25
                - name: Canadian Dollar
                  maximumCpc: 2.08
                  minimumCpc: 0.03
                  code: CAD
                  minimumCampaignBudget: 25
                - name: Euro
                  maximumCpc: 2
                  minimumCpc: 0.02
                  code: EUR
                  minimumCampaignBudget: 22
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error envelope returned on 400/401/403/404/429 responses.
      properties:
        moreInfo:
          type: string
          description: Short machine-readable hint identifying the failing operation.
        errorMessage:
          type: string
          description: Human-readable error message.
      examples:
      - moreInfo: get-budget
        errorMessage: access denied
  securitySchemes:
    OBTokenAuth:
      type: apiKey
      in: header
      name: OB-TOKEN-V1
      description: Token obtained from GET /login (HTTP Basic) or from https://my.outbrain.com/create-token. Valid for 30 days.
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic credentials used only on GET /login to obtain an OB-TOKEN-V1 token.
