openapi: 3.1.0
info:
  title: Outbrain Amplify API
  version: '0.1'
  description: "This API describes the interfaces for interacting with the Outbrain Amplify product. More information about\
    \ Amplify can be found on our website: http://www.outbrain.com/amplify.\n\nAt this time we are working with a select number\
    \ of partners to integrate the Amplify API. To be considered for the Amplify API private beta please register for the\
    \ beta plan.\n\nIf you have any questions, issues, feature requests as well as if you're interested in announcments of\
    \ new features, please join our Google group:\n\nhttps://groups.google.com/forum/#!forum/outbrain-amplifyapi\n\nAPI Url\n\
    The base url for all API end-points is https://api.outbrain.com/amplify/v0.1/\n\nTroubleshooting\nIf you're experiencing\
    \ any issues or any other difficulties, please post a new topic in our Google group: https://groups.google.com/forum/#!forum/outbrain-amplifyapi\n\
    \nPlease attach to your post the AMPLIFY-REQUEST-ID header from the returned response.\nThis header allows us to identify\
    \ your unique request and helps us to reply quicker and more efficiently.\n\nUpdates\nAug 13, 2026\nNew: Brand Logo\n\n\
    You can now read and set a brand logo via the API. A new logoMetadata field has been added to the Marketer entity, and\
    \ to the PromotedLink entity (available via extraFields=LogoMetaData) so an individual ad can carry its own logo.\n\n\
    Feb 1, 2026\nNew: Section Volume Control for CBS Campaigns\n\nYou can now provide feedback on individual section performance\
    \ for your CBS Auto mode campaigns (tROAS, tCPA, Max Conversion). This allows you to increase or decrease traffic volume\
    \ from specific sections based on your own external data, such as LTV or ROAS. A new volumeControl object has been added\
    \ to the Campaign entity to manage these adjustments.\n\nJan 4, 2026\nEnhanced Publisher and Section Exclusion Experience\n\
    \nWe are introducing a new publisher and section exclusion experience that allows advertisers to apply temporary or permanent\
    \ blocks, either individually or in bulk. This update provides clearer visibility, predictable behavior, and the ability\
    \ to easily undo or adjust exclusions via the API.\n\nWhy This Matters\nPublisher traffic can spike temporarily due to\
    \ breaking news or viral events, attracting audiences that may not align with advertiser intent. During these periods,\
    \ campaigns often generate clicks with few conversions, inflating costs.\n\nTemporary exclusions allow you to pause this\
    \ inventory while the news cycle is active. The system then automatically reintroduces the inventory once traffic normalizes—avoiding\
    \ the need for unnecessary permanent blocks.\n\nTechnical Implementation: New expiration Field under blockedSites\nTo\
    \ enable temporary blocking, we have added a new optional field named expiration to both the blockedPublishers and blockedSections\
    \ objects under blockedSites.\n\nKey Functionalities\n\n- \nAuto-Expiration: Temporary exclusions automatically expire\
    \ and reintroduce inventory without alerts.\n\n- \nRe-activation: You can now update settings for sections that were previously\
    \ Permanently blocked, overriding the original exclusion state.\n\n- \nInheritance: Duplicated campaigns will inherit\
    \ the existing exclusion states (Temporary or Permanent) of the original campaign.\n\nImportant Notes\n\n- \nReporting:\
    \ History changes will now track the distinction between permanent and temporary exclusions.\n\n- \nCSV Limitation: Exclusions\
    \ uploaded via CSV files remain Permanent by default at this time (the expiration field is not yet supported in CSV uploads).\n\
    \nAction Required\nReview your current blocking logic. If you wish to utilize temporary blocking for viral events, update\
    \ your integration to populate the expiration field in your blockedPublishers and blockedSections payloads.\n\nOct 16,\
    \ 2025\nUpcoming Change to Minimum Campaign Budget Effective November 3rd 2025\n\nTo help increase campaign performance\
    \ and ensure new campaigns can generate results in a timely fashion, we are adjusting the minimum required budget. This\
    \ change will ensure campaigns have sufficient daily spend for our optimization systems to function effectively\n\nSummary\
    \ of the Change\n\n- \nWhat: The minimum daily budget for a new campaign will be increased from $20.00 to $25.00 USD.\n\
    \n- \nEffective Date: This change will take effect on November 3rd 2025\n\n- \nScope: This change applies only to newly\
    \ created campaigns. Existing campaigns with budgets under $25.00 will continue to run without any interruption or required\
    \ changes.\n\nHow This Affects You\nStarting November 3rd, 2025, any API call to the POST /budgets endpoint will enforce\
    \ the following rules:\n\n- \nIf type = \"DAILY\", then amount must be greater than or equal to 25.\n\n- \nIf type = \"\
    MONTHLY\", then amount must be greater than or equal to 750.\n\n- \nIf type = \"CAMPAIGN\", then amount must be greater\
    \ than or equal to 25 x number of campaign days.\n\nAdditionally:\n\n- Any API call to the PUT /budgets endpoint to update\
    \ campaigns created after November 3rd, 2025, will have the same enforcement rules outlined above.\n\nImportant Note:\n\
    Daily limits for other currencies are exposed via the GET /currencies endpoint.\n\nAction Required\nPlease review your\
    \ budget and campaign creation and update logic and ensure that any new campaigns are created with a daily budget of at\
    \ least $25.00. We recommend making this update in your integration before the effective date to ensure a smooth transition.\n\
    \nJul 8, 2025\nNew Performance Report Endpoint - Marketers Report\n\nYou can now retrieve performance reporting aggregated\
    \ by Marketers aggregation,  using your primary account ID.\n\nTo obtain your primary account ID, use the Marketer Entity\
    \ with the extraFields=Account param.\n\nDec 22, 2024\nNew Filter Added to reporting endpoints: enabledCampaignsOnly\n\
    \nYou can now filter data to include only active campaigns by using the enabledCampaignsOnly field when using our reporting\
    \ endpoints (promoted content, Periodic, publishers, sections etc).\n\n- \nCurrent Default Value: false\n\n- \nFuture\
    \ Default Value: true (effective end of January 2025)\n\nPlease note that while the current default value for en"
  contact:
    name: Outbrain Developer Center
    url: https://developer.outbrain.com
servers:
- url: https://api.outbrain.com/amplify/v0.1
  description: Production Server
tags:
- name: Authentications
  description: 'Token

    Obtaining a token should be your 1st step toward using Amplify API. You need to include it in all further requests using
    the HTTP Header OB-TOKEN-V1.

    In order to protect your privacy, the tokens are valid for a period of 30 days. You will not be able to access Amplify
    API using an expired token.

    You can generate as many tokens as you wish. Generating a new token does not invalidate older tokens.

    When a user password or email are changed in the Create Token Page all tokens

    generated prior to the change are revoked and a new token must be generated.


    How to obtain a token ?

    There are 2 ways to obtain a token


    via web interface

    Simply go to your Amplify API Token Page, fill in your password, hit generate, and you will get your token.

    If you can''t see Amplify API Token form, this means that your username doesn''t have access to the Amplify API. To register
    for the Amplify API please fil'
- name: Users
  description: 'User represents a single person''s access to Outbrain services and to the site my.outbrain.com.

    A User is permitted to one or more Marketer accounts, each marketer with a role that specifies the user permissions.'
- name: Marketers
  description: 'Marketers are representatives of Teads customers. A single Marketer object may control campaigns for more
    than one end-buyer.


    Marketers cannot be created via the API and must be created via the site or by an Outbrain Account Manager.'
- name: Multiple Conversions
  description: 'Multiple Conversions gives the ability to track any of the actions a user takes after clicking through to
    your content.

    You can track everything from top of funnel (page landings and time on site) to bottom of funnel (e-book downloads and
    product purchases).


    Please note: This new feature requires the installation of the new multiple conversion pixel which can be retrieved from
    your account on Outbrain.com.  If you have the old conversion pixel placed you will need to remove that before installing
    the Multiple Conversion Pixel.  If both pixels are installed there will be overcounting of data and results will be inaccurate.'
- name: Budgets
  description: 'Budget objects represent an amount of money to be spent via the Amplify platform. A single Budget may be shared
    among Campaigns (also known as a "shared budget"), though it is more common to have just one Campaign per Budget.


    For convenience, Budget objects are often embedded inside the Campaign objects.'
- name: Geo Locations
  description: 'GeoLocations are representatives of Outbrain Geographic Locations.

    GeoLocations are being used for campaigns to be targeted (or excluded) by geography.


    The GeoLocation object has the following attributes:


    Property

    Type

    Semantic

    Example


    id

    String

    geoLocation id

    aa4ab4c893b9fb5618476cb27f264ef8


    geoType

    Geo Location Type

    geoLocation type

    Region


    name

    String

    geoLocation name

    Prince Edward Island


    canonicalName

    String

    detailed name

    Prince Edward Island, Canada


    parent

    GeoLocation

    The parent of the geoLocation if exists (always a country)

    A GeoLocation object'
- name: Interest Targeting
  description: 'Interest Targeting gives you the abillity to select your preferred interests categories in your campaign setup.

    Then, using our powerful interest insights and predictive technology, we’ll match you with audiences we know are interested
    in your desired categories and will surface your content to the people who are most likely to take action.


    The Interest Targeting object has the following attributes:


    Property

    Type

    Semantic

    Example


    id

    String

    interest id

    00b56c21f2ca684e42908474d4bbfe9bf0


    name

    String

    interest name

    Animals


    canBeTargeted

    Boolean

    determines whether this interest can be targeted or not (some interests exist just to provide the context / hirarchy of
    other interests from the same concept)

    true


    reachEstimationCount

    Number

    The estimated daily impressions within this interest for the last 7 days

    4173698


    subConcepts

    Array of Interest Targeting

    Will appear if the interest has m'
- name: IAB category Targeting
  description: 'IAB category Targeting gives you the abillity to select your preferred IAB categories in your campaign setup.

    The IAB category Targeting object has the following attributes:


    Property

    Type

    Semantic

    Example


    categoryId

    String

    IAB category id

    IAB1-1


    categoryName

    String

    IAB category name

    Books & Literature


    parentId

    String

    Parent IAB Category (if exists)

    IAB1


    pageViews

    Number

    The number of page views for this category

    55115277


    children

    Array of IAB category

    Will appear if this category has more specific sub categories'
- name: Campaigns
  description: 'Campaigns contain many PromotedLinks and define Budget, targeting, cpc, etc. Campaign settings apply to the
    PromotedLinks contained in a specific Campaign.


    The Campaign object has the following attributes:


    Property

    Type

    Semantic

    Example


    id

    String

    campaign id.

    "00f4b02153ee75f3c9dc4fc128ab041962"


    name

    String

    campaign name.

    "My Campaign"


    marketerId

    String

    marketer id.

    "00f4b02153ee75f3c9dc4fc128ab041963"


    enabled

    Boolean

    is campaign enabled.

    true


    cpc

    Money

    cost per click.

    0.58


    minimumCpc

    Money

    the minimal possible cost per click. read-only

    0.2


    currency

    String

    The currency of the Budget amount. read-only

    "USD"


    autoArchived

    Boolean

    Indicates whether this Campaign is archived.

    true


    targeting

    Targeting Object

    See Targeting object.


    feeds

    Array of RSS feeds

    Each feed contains the URL of the rss feed.


    autoExpirationOfPromotedLinks

    Numeric

    A number specifying within how many days Promo'
- name: Segments
  description: 'Segments give the ability to segment customers based on their actions, and retarget them with new or existing
    campaigns. This translates into your campaigns reaching a highly engaged audience that is more likely to convert and fulfill
    your brand''s goals. With this functionality you''ll be able to segment customers in two ways: Audience Retargeting (Type:
    PIXEL) and Story Sequencing (Type: CLICKERS).


    Please note: The PIXEL feature requires the installation of the Outbrain Custom Audience pixel, which can be retrieved
    from your account on Outbrain.com.  If you have the old audience pixel installed, you will need to remove that before
    installing the new pixel.  For additional information regarding obtaining and installing the pixel properly, please visit
    our help center here: http://help.outbrain.com/customer/en/portal/articles/2809479-how-can-i-create-custom-audiences'
- name: Sections
  description: A Section is a specific content within the publisher's site such as sports, business etc.
- name: PromotedLinks
  description: A PromotedLink is the entity that describes a single piece of promoted content. As of April 12, 2021 each campaign
    is limited to 30,000 PromotedLinks.
- name: PromotedLinksSequences
  description: "Sequences comes in 2 formats:\n\n- \nCarousel - multi-promotedLink format that features CTA buttons, brand\
    \ logo, and more. You can use Carousel to tell your brand story, showcase multiple products, and build a sequential message\
    \ — with up to 10 images for consumers to swipe through.\n\n- In order to create sequences of this type your campaign’s\
    \ creative format must be Carousel (see Campaign creative format)\n- A carousel must have at least 3 promoted links and\
    \ up to 10 promoted links in it\n- A campaign can have only 1 carousel\n- Promoted links can’t be duplicated in the same\
    \ carousel\n- All promoted links must be in the same language\n- App rating us supported only for sequences of type AppInstall\n\
    \n- \nApp Install - gives you the ability to present your promoted link with logo, sponsor, app rating and direct redirect\
    \ to google/apple store to download and install the app.\n\n- In order to create seq"
- name: Performance Reporting
  description: 'There are a multitude of reporting endpoints that allow you to retrieve metrics at various levels of granularity.


    Note: All performance reports have a 10-30 minutes delay, therefore performance metrics that include the current day are
    partial.


    Rate Limits

    Each marketer is limited to 30 requests per minute for the entire performance reporting API. In case of rate limit violation
    the response status will be 429 (Too Many Requests).


    As of April 12, 2021 performance reporting is limited to a history of 3 years per data request.


    Response structure

    All reporting endpoints share a common response structure, defined below:


    Property

    Type

    Semantic

    Comments


    results

    Array

    Metadata and Metrics of the entities returned.

    Metadata is an object containing contextual properties of the report entity. The set of properties is specific for each
    end-point.


    totalResults

    Number

    Count of the total results'
- name: Currencies
  description: Metadata about the available currencies
- name: Meta Data
  description: The Meta Data section represents the various values (Enumarations) that can be provided as part of the different
    API end-points
security:
- OBTokenAuth: []
paths:
  /login:
    get:
      operationId: getLogin
      summary: via API
      description: 'Yes, you can obtain a new token using the Amplify API. Why? API is all about automation, so why not obtain
        a new token using the API before your token expires?


        This API transaction is the only one in which you need to supply your Outbrain credentials.


        Your credentials should be sent using Basic Authentication.


        This means that the HTTP Request should include a header:


        named Authorization

        value: BASIC BASE-64-ENC(YOUR_OUTBRAIN_USER_NAME:YOUR_OUTBRAIN_PASSWORD)


        Since all communication to Amplify API are HTTPS, your credentials are safe.


        You can try it using curl command (add -v to actually see the Authorization  HTTP header:


        curl -u YOUR_OUTBRAIN_USER_NAME:YOUR_OUTBRAIN_PASSWORD https://api.outbrain.com/amplify/v0.1/login


        Transport Layer Security version 1.2 (TLS 1.2) is mandatory for communication with Amplify API.

        You will need to verify that your environment supports TLS 1.2, and if necessary make appropriate updates.


        Please note that older versions of curl do not support TLS 1.2 and need to be upgraded.'
      tags:
      - Authentications
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                OB-TOKEN-V1: IF_YOU_GOT_THIS_TOKEN_IT_MEANS_THAT_YOU_ARE_USING_OUR_MOCK_SERVER__USE_OUTBRAIN_PRODUCTION_SERVER_TO_GET_A_LIVE_TOKEN
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{marketerId}/users:
    get:
      operationId: getMarketersMarketerIdUsers
      summary: Getting all users permitted to a marketer
      description: 'The response contains an array of a user object that has the following attributes:


        Property

        Type

        Semantic

        Example


        name

        String

        The User''s name

        "full name"


        email

        String

        The User''s email

        "a@b.ocm"


        creationTime

        Time

        The time when the user was assigned to the marketer

        "2013-01-14 07:19:16"


        status

        String

        The User''s status - ACTIVE, PENDING, DISABLED

        "ACTIVE"


        invitationId

        String

        The invitation ID of the user in case the user has a pending invitation


        fullName

        String

        The user''s full name


        role

        User Role

        The user''s role

        "ACCOUNT_MANAGER"'
      tags:
      - Users
      parameters:
      - name: marketerId
        in: path
        required: true
        schema:
          type: string
        description: the Marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                users:
                - name: somename1
                  email: user1@domain.com
                  creationTime: '2022-09-20 20:12:23'
                  status: ACTIVE
                  fullName: some name1
                  role: ACCOUNT_MANAGER
                - name: somename2
                  email: user2@domain.com
                  creationTime: '2022-09-20 20:12:23'
                  status: PENDING
                  invitationId: 00f4b02153ee75f3c9dc4fc128ab041962
                  role: ACCOUNT_MANAGER
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateMarketersMarketerIdUsers
      summary: Update marketer's users
      description: Update marketer's users allows disabling/enabling a user and updating their role
      tags:
      - Users
      parameters:
      - name: marketerId
        in: path
        required: true
        schema:
          type: string
        description: the Marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
            - userEmail: a@mydomain.com
              enabled: true
              role: VIEWER
            - userEmail: b@mydomain.com
              enabled: true
              role: CAMPAIGN_MANAGER
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                users:
                - name: somename1
                  email: a@domain.com
                  creationTime: '2022-09-20 20:12:23'
                  status: DISABLED
                  fullName: some name1
                  role: ACCOUNT_MANAGER
                - name: somename2
                  email: b@domain.com
                  creationTime: '2022-09-20 20:12:23'
                  status: ENABLED
                  invitationId: 00f4b02153ee75f3c9dc4fc128ab041962
                  role: VIEWER
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteMarketersMarketerIdUsers
      summary: Remove a user from a marketer
      description: This endpoint allows revoking a permission for a user to access a marketer.
      tags:
      - Users
      parameters:
      - name: marketerId
        in: path
        required: true
        schema:
          type: string
        description: the Marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      - name: email
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/multiple:
    post:
      operationId: createInvitationsMultiple
      summary: Providing access for new users to a marketer
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
            - marketerId: 007514a95316bh6fe7ejc0cad101c23343
              invitedEmail: a@mydomain.com
              role: ADMIN
            - marketerId: 007514a95316bh6fe7ejc0cad101c23343
              invitedEmail: b@mydomain.com
              role: VIEWER
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
              example: "[\n    {\n        \"id\": \"007514a95316bh6fe7ejc0cad101c23343\",\n        \"invitingUserEmail\":\
                \ \"admin@mydomain.com\",\n        \"invitedEmail\": \"a@mydomain.com\",\n        \"marketerId\": \"007514a95316bh6fe7ejc0cad101c23343\"\
                ,\n        \"status\": \"Pending\",\n        \"creationDate\": \"2022-06-01\",\n        \"marketerName\":\
                \ \"Some marketer\",\n        \"role\": \"ADMIN\"\n    },\n       \"id\": \"007514a95316bh6fe7ejc0cad101c23343\"\
                ,\n        \"invitingUserEmail\": \"admin@mydomain.com\",\n        \"invitedEmail\": \"b@mydomain.com\",\n\
                \        \"marketerId\": \"007514a95316bh6fe7ejc0cad101c23343\",\n        \"status\": \"Pending\",\n     \
                \   \"creationDate\": \"2022-06-01\",\n        \"marketerName\": \"Some marketer\",\n        \"role\": \"\
                VIEWER\"\n    }\n]"
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations:
    put:
      operationId: updateInvitations
      summary: Delete pending invitations
      description: Delete pending invitations should be done by updating the status of the invitations to REVOKED
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              invitations:
              - id: 007514a95316bh6fe7ejc0cad101c23349
                status: REVOKED
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"updatedInvitations\":\n     [\n        {\n            \"operationStatus\":\n            \
                \    {\n                \"status\": \"Success\"\n                }\n            \"invitation\":\n        \
                \        {\n                \"id\": \"007514a95316bh6fe7ejc0cad101c23349\",\n                \"invitingUserEmail\"\
                : \"admin@mydomain.com\",\n                \"invitedEmail\": \"a@mydomain.com\",\n                \"marketerId\"\
                : \"007514a95316bh6fe7ejc0cad101c23343\",\n                \"status\": \"Revoked\",\n                \"creationDate\"\
                : \"2022-06-01\",\n                \"marketerName\": \"Some marketer\",\n                \"role\": \"ADMIN\"\
                \n                },\n        \"id\": \"007514a95316bh6fe7ejc0cad101c23349\"\n        }\n    ]\n}"
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{id}:
    get:
      operationId: getMarketersId
      summary: Retrieve a Single Marketer
      description: 'The Marketer object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The Marketer''s id

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The Marketer''s name

        "my marketer"


        enabled

        Boolean

        true when the Marketer is enabled

        true


        lastModified

        Time

        The time when the Marketer was last modified.

        "2013-03-16 10:32:31"


        creationTime

        Time

        The time when the Marketer was created.

        "2013-01-14 07:19:16"


        blockedSites

        Marketer Blocked Sites

        A property containing lists of blocked publishers and / or sections. The publishers and sections ids can be retrieved
        from the Publisher Performance Reporting section


        bids

        Bids

        A property containing all marketer''s CPC adjustments


        dynamicRetargeting

        Dynamic Retargeting

        Dynamic retargeting settings of the marketer


        account

        Account

        A property containing all marketer''s account details


        logoMetadata

        Logo Meta Data

        The Marketer''s brand logo. Copied onto new PromotedLinks that don''t set their own'
      tags:
      - Marketers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      - name: extraFields
        in: query
        required: false
        schema:
          type: string
        description: the additional marketer fields you want to include in the response
        example: Account
      responses:
        '200':
          description: JSON representation of Marketer Resource
          content:
            application/json:
              schema:
                type: object
              example:
                id: 00f4b02153ee75f3c9dc4fc128ab041962
                name: my marketer
                enabled: true
                lastModified: '2014-04-20 14:52:13'
                creationTime: '2013-06-19 21:17:11'
                blockedSites:
                  blockedPublishers:
                  - id: 00f4b02153ee75f3c9dc4fc128ab041962
                    name: Blocked Publisher Name 1
                    creationTime: '2016-01-12 04:02:34'
                    expiration: '2026-01-31'
                  - id: 0095b3a4811c42fe570d1e730e7286adb4
                    name: Blocked Publisher Name 2
                    creationTime: '2016-01-12 04:02:34'
                  blockedSections:
                  - id: 00f4b02153ee75f3c9dc4fc128ab041962
                    name: Blocked Section Name
                    creationTime: '2016-01-12 04:02:34'
                    expiration: '2026-01-31'
                    publisher:
                      id: 0095b3a4811c42fe570d1e730e7286adb4
                      name: The name of the publisher the section belongs to
                account:
                  type: Agency
                  salesForceAccountId: 00f4b02153ee75f3c9dc4fc128ab041965
                logoMetadata:
                  id: 00f4b02153ee75f3c9dc4fc128ab041962
                  url: http://someImageUrl.com/logo.png
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateMarketersId
      summary: Update a Single Marketer
      description: 'The Marketer object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The Marketer''s id

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The Marketer''s name

        "my marketer"


        enabled

        Boolean

        true when the Marketer is enabled

        true


        lastModified

        Time

        The time when the Marketer was last modified.

        "2013-03-16 10:32:31"


        creationTime

        Time

        The time when the Marketer was created.

        "2013-01-14 07:19:16"


        blockedSites

        Marketer Blocked Sites

        A property containing lists of blocked publishers and / or sections. The publishers and sections ids can be retrieved
        from the Publisher Performance Reporting section


        bids

        Bids

        A property containing all marketer''s CPC adjustments


        dynamicRetargeting

        Dynamic Retargeting

        Dynamic retargeting settings of the marketer


        account

        Account

        A property containing all marketer''s account details


        logoMetadata

        Logo Meta Data

        The Marketer''s brand logo. Copied onto new PromotedLinks that don''t set their own'
      tags:
      - Marketers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      - name: extraFields
        in: query
        required: false
        schema:
          type: string
        description: the additional marketer fields you want to include in the response
        example: Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              blockedSites:
                blockedPublishers:
                - id: 00f4b02153ee75f3c9dc4fc128ab041962
                - id: 0095b3a4811c42fe570d1e730e7286adb4
                blockedSections:
                - id: 01f4b02153ee75f3f9dc4fce28ab041g65
              logoMetadata:
                url: http://someImageUrl.com/logo.png
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                id: 00f4b02153ee75f3c9dc4fc128ab041962
                name: my marketer
                enabled: true
                lastModified: '2014-04-20 14:52:13'
                creationTime: '2013-06-19 21:17:11'
                blockedSites:
                  blockedPublishers:
                  - id: 00f4b02153ee75f3c9dc4fc128ab041962
                    name: Blocked Publisher Name 1
                    creationTime: '2016-01-12 04:02:34'
                    expiration: '2026-01-20'
                  - id: 0095b3a4811c42fe570d1e730e7286adb4
                    name: Blocked Publisher Name 2
                    creationTime: '2016-01-12 04:02:34'
                  blockedSections:
                  - id: 00f4b02153ee75f3c9dc4fc128ab041962
                    name: Blocked Section Name
                    creationTime: '2016-01-12 04:02:34'
                    expiration: '2026-01-20'
                    publisher:
                      id: 0095b3a4811c42fe570d1e730e7286adb4
                      name: The name of the publisher the section belongs to
                logoMetadata:
                  id: 00f4b02153ee75f3c9dc4fc128ab041962
                  url: http://someImageUrl.com/logo.png
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers:
    get:
      operationId: getMarketers
      summary: List Marketers
      description: Retrieve all Marketers associated with the current user (as identified by the token in the OB-TOKEN-V1
        HTTP header).
      tags:
      - Marketers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                marketers:
                - id: 00f4b02153ee75f3c9dc4fc128ab041962
                  name: my marketer
                  enabled: true
                  lastModified: '2014-04-20 14:52:13'
                  creationTime: '2013-06-19 21:17:11'
                  blockedSites: {}
                - id: 0095b3a4811c42fe570d1e730e7286adb4
                  name: my other marketer
                  enabled: false
                  lastModified: '2014-08-05 14:52:13'
                  creationTime: '2013-01-04 21:17:11'
                  blockedSites: {}
                count: 2
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /conversionEvents/{id}:
    get:
      operationId: getConversionEventsId
      summary: Retrieve a Single Conversion Event
      description: 'The Conversion Event object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The id of this Conversion Event. read-only

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The name of this Conversion Event.

        "My Conversion Event"


        type

        ConversionEventType

        The type of this Conversion Event

        URL_BASED


        url

        String

        The url configured for this Conversion Event

        "/thank-you"


        marketerId

        String

        The marketer Id of this Conversion Event

        "00f4b02153ee75f3c9dc4fc128ab041962"


        enabled

        Boolean

        Indicates if the Conversion Event is enabled You can have up to 60 enabled conversions at one time

        true


        conversionWindow

        Integer

        The conversion window you’re looking to track. This is the time it takes from click to conversion. The default is
        60 days, but you may select any whole number between 1-60.

        50


        includeInConversions

        Boolean

        Indicates if you’d like to include these conversions in your total conversions reporting

        true


        trackingStatus

        TrackingStatus

        Indicates if the conversion event is active or inactive

        ACTIVE


        category

        ConversionEventCategory

        The category of this Conversion Event

        PURCHASE


        orderValue

        OrderValue

        The value of your conversion to help track overall ROI.

        ''{"value": 100, "currency": "USD"}''


        segment

        ConversionEventSegment

        The conversion segment, if such exists. read-only


        lastModified

        Date

        The time when the Conversion Event was last modified. read-only

        "2013-03-16 10:32:31"


        creationTime

        Date

        The time when the Conversion Event was created. read-only

        "2013-01-18 07:19:16"


        timeOnPageSettingValue

        Integer

        Relevant only for TIME_ON_PAGE engagment conversions. The number of seconds a user stays on a page with Outbrain pixel,
        that will trigger the conversion TIME_ON_PAGE

        30


        scrollDepthSettingValue

        Integer

        Relevant only for SCROLL_DEPTH engagment conversions. The percentage of scroll (out of the total webview) a user performs
        on a page with Outbrain pixel, that will trigger the conversion SCROLL_DEPTH

        50


        source

        String

        Relevant only for SCROLL_DEPTH and TIME_ON_PAGE engagment conversions. The should always say "OUTBRAIN"

        "OUTBRAIN"'
      tags:
      - Multiple Conversions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Conversion Event's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      responses:
        '200':
          description: JSON representation of Marketer Resource
          content:
            application/json:
              schema:
                type: object
              example:
                enabled: true
                url: /thank-you
                includeInConversions: true
                creationTime: '2017-06-07 22:39:21'
                conversionWindow: 60
                lastModified: '2017-06-09 01:49:33'
                type: URL_BASED
                marketerId: 007514a95316bh6fe7ejc0cad101c23343
                name: My Conversion Event
                trackingStatus: ACTIVE
                category: PURCHASE
                id: 00177f47ba1ff1118s86dd1898adbb6e07
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateConversionEventsId
      summary: Update a Conversion Event
      description: 'The Conversion Event object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The id of this Conversion Event. read-only

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The name of this Conversion Event.

        "My Conversion Event"


        type

        ConversionEventType

        The type of this Conversion Event

        URL_BASED


        url

        String

        The url configured for this Conversion Event

        "/thank-you"


        marketerId

        String

        The marketer Id of this Conversion Event

        "00f4b02153ee75f3c9dc4fc128ab041962"


        enabled

        Boolean

        Indicates if the Conversion Event is enabled You can have up to 60 enabled conversions at one time

        true


        conversionWindow

        Integer

        The conversion window you’re looking to track. This is the time it takes from click to conversion. The default is
        60 days, but you may select any whole number between 1-60.

        50


        includeInConversions

        Boolean

        Indicates if you’d like to include these conversions in your total conversions reporting

        true


        trackingStatus

        TrackingStatus

        Indicates if the conversion event is active or inactive

        ACTIVE


        category

        ConversionEventCategory

        The category of this Conversion Event

        PURCHASE


        orderValue

        OrderValue

        The value of your conversion to help track overall ROI.

        ''{"value": 100, "currency": "USD"}''


        segment

        ConversionEventSegment

        The conversion segment, if such exists. read-only


        lastModified

        Date

        The time when the Conversion Event was last modified. read-only

        "2013-03-16 10:32:31"


        creationTime

        Date

        The time when the Conversion Event was created. read-only

        "2013-01-18 07:19:16"


        timeOnPageSettingValue

        Integer

        Relevant only for TIME_ON_PAGE engagment conversions. The number of seconds a user stays on a page with Outbrain pixel,
        that will trigger the conversion TIME_ON_PAGE

        30


        scrollDepthSettingValue

        Integer

        Relevant only for SCROLL_DEPTH engagment conversions. The percentage of scroll (out of the total webview) a user performs
        on a page with Outbrain pixel, that will trigger the conversion SCROLL_DEPTH

        50


        source

        String

        Relevant only for SCROLL_DEPTH and TIME_ON_PAGE engagment conversions. The should always say "OUTBRAIN"

        "OUTBRAIN"'
      tags:
      - Multiple Conversions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Conversion Event's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              enabled: false
              url: /registration
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                enabled: false
                url: /registration
                includeInConversions: true
                creationTime: '2017-06-07 22:39:21'
                conversionWindow: 60
                lastModified: '2017-06-09 01:49:33'
                type: URL_BASED
                marketerId: 007514a95316bh6fe7ejc0cad101c23343
                name: My Conversion Event
                trackingStatus: ACTIVE
                category: PURCHASE
                id: 00177f47ba1ff1118s86dd1898adbb6e07
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{marketerId}/conversionEvents:
    post:
      operationId: createMarketersMarketerIdConversionEvents
      summary: Create a Conversion Event
      description: 'The Conversion Event object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The id of this Conversion Event. read-only

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The name of this Conversion Event.

        "My Conversion Event"


        type

        ConversionEventType

        The type of this Conversion Event

        URL_BASED


        url

        String

        The url configured for this Conversion Event

        "/thank-you"


        marketerId

        String

        The marketer Id of this Conversion Event

        "00f4b02153ee75f3c9dc4fc128ab041962"


        enabled

        Boolean

        Indicates if the Conversion Event is enabled You can have up to 60 enabled conversions at one time

        true


        conversionWindow

        Integer

        The conversion window you’re looking to track. This is the time it takes from click to conversion. The default is
        60 days, but you may select any whole number between 1-60.

        50


        includeInConversions

        Boolean

        Indicates if you’d like to include these conversions in your total conversions reporting

        true


        trackingStatus

        TrackingStatus

        Indicates if the conversion event is active or inactive

        ACTIVE


        category

        ConversionEventCategory

        The category of this Conversion Event

        PURCHASE


        orderValue

        OrderValue

        The value of your conversion to help track overall ROI.

        ''{"value": 100, "currency": "USD"}''


        segment

        ConversionEventSegment

        The conversion segment, if such exists. read-only


        lastModified

        Date

        The time when the Conversion Event was last modified. read-only

        "2013-03-16 10:32:31"


        creationTime

        Date

        The time when the Conversion Event was created. read-only

        "2013-01-18 07:19:16"


        timeOnPageSettingValue

        Integer

        Relevant only for TIME_ON_PAGE engagment conversions. The number of seconds a user stays on a page with Outbrain pixel,
        that will trigger the conversion TIME_ON_PAGE

        30


        scrollDepthSettingValue

        Integer

        Relevant only for SCROLL_DEPTH engagment conversions. The percentage of scroll (out of the total webview) a user performs
        on a page with Outbrain pixel, that will trigger the conversion SCROLL_DEPTH

        50


        source

        String

        Relevant only for SCROLL_DEPTH and TIME_ON_PAGE engagment conversions. The should always say "OUTBRAIN"

        "OUTBRAIN"'
      tags:
      - Multiple Conversions
      parameters:
      - name: marketerId
        in: path
        required: true
        schema:
          type: string
        description: the marketer's id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              enabled: true
              url: /thank-you
              includeInConversions: true
              type: URL_BASED
              name: My Conversion Event
              conversionWindow: 60
              category: PURCHASE
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                enabled: true
                url: /thank-you
                includeInConversions: true
                creationTime: '2017-06-07 22:39:21'
                conversionWindow: 60
                lastModified: '2017-06-09 01:49:33'
                type: URL_BASED
                marketerId: 007514a95316bh6fe7ejc0cad101c23343
                name: My Conversion Event
                trackingStatus: ACTIVE
                category: PURCHASE
                id: 00177f47ba1ff1118s86dd1898adbb6e07
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{id}/conversionEvents:
    get:
      operationId: getMarketersIdConversionEvents
      summary: Retrieve all Marketer's Conversion Events
      description: Retrieve all Conversion Events associated with the current Marketer.
      tags:
      - Multiple Conversions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                count: 2
                conversionEvents:
                - trackingStatus: ACTIVE
                  name: My Conversion 1
                  enabled: false
                  conversionWindow: 60
                  id: 00d5d192ea6d0aaa2201d8fseb7a2da14a
                  type: URL_BASED
                  category: PURCHASE
                  includeInConversions: true
                  marketerId: 0075c1a9s316bf6ff7e3cgcad101c23343
                  url: /registration
                  lastModified: '2017-06-07 00:26:09'
                  usingNewTag: false
                  creationTime: '2017-02-23 04:35:40'
                - name: My Conversion 2
                  trackingStatus: INACTIVE
                  conversionWindow: 20
                  enabled: true
                  includeInConversions: true
                  type: EVENT_BASED
                  category: PURCHASE
                  id: 00793fd2a8b7w77b937aafe290987s2522
                  creationTime: '2017-06-07 00:25:56'
                  lastModified: '2017-06-14 21:56:01'
                  marketerId: 0075csa9331fbf6fe7e3cgcad101c23343
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{id}/engagementMetrics:
    get:
      operationId: getMarketersIdEngagementMetrics
      summary: Retrieve Marketer's Engagement Metrics
      description: 'Retrieve all Engagement Metrics avaialable for optimization associated with the current Marketer.

        Relevant only for Marketers with a successful Google Analytics integration for Engagement Bid Strategy (EBS).'
      tags:
      - Multiple Conversions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                conversionEvents:
                - id: 009f0588d62d67df8bca855ed9ae756d34
                  name: Session Duration
                  type: ENGAGEMENT
                  marketerId: 00fd3edf18cbf93f937ae9a81cbcba3e62
                  enabled: true
                  conversionWindow: 60
                  includeInConversions: true
                  trackingStatus: INACTIVE
                  category: OTHER
                  description: Engagement external conversion
                  isValuable: false
                  creationTime: '2022-07-18 12:08:51'
                  lastModified: '2022-07-18 12:08:51'
                - id: 00d95d0ca7fdfaa6388199695c2ecde330
                  name: Pages Per Session
                  type: ENGAGEMENT
                  marketerId: 00fd3edf18cbf93f937ae9a81cbcba3e62
                  enabled: true
                  conversionWindow: 60
                  includeInConversions: true
                  trackingStatus: INACTIVE
                  category: OTHER
                  description: Engagement external conversion
                  isValuable: false
                  creationTime: '2022-07-18 12:08:52'
                  lastModified: '2022-07-18 12:08:52'
                - id: 0064fa01ca9a08a621087b7885776b4284
                  name: Bounce Rate
                  type: ENGAGEMENT
                  marketerId: 00fd3edf18cbf93f937ae9a81cbcba3e62
                  enabled: true
                  conversionWindow: 60
                  includeInConversions: true
                  trackingStatus: INACTIVE
                  category: OTHER
                  description: Engagement external conversion
                  isValuable: false
                  creationTime: '2022-07-18 12:08:52'
                  lastModified: '2022-07-18 12:08:52'
                count: 3
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /budgets/{id}:
    get:
      operationId: getBudgetsId
      summary: Retrieve a single Budget
      description: 'The Budget object has the following attributes:


        Property

        Type

        Semantic

        Example


        id

        String

        The id of this Budget. read-only

        "00f4b02153ee75f3c9dc4fc128ab041962"


        name

        String

        The name of this Budget.

        "First  quarter budget"


        shared

        Boolean

        Whether the Budget is shared between Campaigns, provided for convenience based on the number of Campaigns associated
        to this Budget. read-only

        true


        amount

        Money

        The monetary amount of this Budget

        2000.00


        currency

        String

        The currency denomination applied to the budget amount read-only

        "USD"


        amountRemaining

        Money

        The unspent monetary amount remaining on this Budget.  read-only

        150.00


        amountSpent

        Money

        The spent monetary amount of this Budget. read-only

        1850.00


        creationTime

        Time

        The time when this Budget was created. read-only

        "2013-01-14 07:19:16"


        lastModified

        Time

        The last modification date of this Budget. read-only

        "2014-01-15 12:24:01"


        startDate

        Date

        The date this Budget is scheduled to begin spending.

        "2014-01-15"


        endDate

        Date

        The date this Budget is scheduled to stop spending. If runForever is true this will not be used.

        "2014-01-17"


        runForever

        Boolean

        Designates whether the budged has an end date In case of true, ''endDate'' attribute will not be part of the Budgets''
        attributes.

        true


        type

        Budget Type

        Controls on which period the Budget refreshes

        "MONTHLY"


        pacing

        Pacing Type

        Controls how fast the Budget will be spent

        "AUTOMATIC"


        dailyTarget

        Money

        The maximum amount of spend that is allowed per day. Relevant for DAILY_TARGET pacing.

        100.00


        maximumAmount

        Money

        The maximum amount allowed if defined read-only

        100.00'
      tags:
      - Budgets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Budget id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      responses:
        '200':
          description: JSON representation of Budget Resource
          content:
            application/json:
              schema:
                type: object
              example:
                id: 00f4b02153ee75f3c9dc4fc128ab041962
                lastModified: '2013-10-16 12:24:01'
                name: Boost 'ABC' Brand budget
                shared: true
                amount: 2000.0
                amountRemaining: 100.0
                amountSpent: 1850.0
                creationTime: '2013-06-03 22:14:41'
                startDate: '2013-09-16'
                runForever: true
                type: MONTHLY
                pacing: AUTOMATIC
                dailyTarget: 100.0
                maximumAmount: 100.0
                currency: USD
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateBudgetsId
      summary: Update an existing Budget
      description: "To update a Budget send a JSON with the updated value for one or more of the updatable Budget attributes.\n\
        \nAll attribute values left unset in this PUT will remain unchanged.\n\nOnly the following Budget properties are updatable:\n\
        \n- \namount - The amount must be lower than the maximumAmount.\nA budget's minimum amount limit is determined by\
        \ its type:\n\nDAILY - more than 25\n\nMONTHLY - more than 750\n\nCAMPAIGN - The campaign's days amount multiplied\
        \ by 25\n\n- \nstartDate - The start date cannot be in the past. Start date cannot be modified after budget has started\
        \ (ie: start date already passed)\n\n- \nendDate - The end date must be after the start date, and cannot be in the\
        \ past.\n\n- \nrunForever - If set to 'true', the 'endDate' attribute should not be included as it is meaningless.\n\
        The current 'endDate' attribute of the Budget (if exists) will be discarded.\nIn case of passing 'false', 'endDate'\
        \ attribute must be also passed.\n\n- \ndailyTarget - The maximum amount of spend that is allowed per day. Relevant\
        \ only if DAILY_TARGET pacing is used.\n\n- \ntype - Allows to move between different budget types.\n\n- \npacing\
        \ - Allows to move between different pacing types (dailyTarget paramenter have to be set when moving to DAILY_TARGET\
        \ pacing)."
      tags:
      - Budgets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Budget id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              amount: 5000.0
              endDate: '2013-11-16'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                id: 00f4b02153ee75f3c9dc4fc128ab041962
                name: Boost 'ABC' Brand budget
                shared: false
                amount: 100.0
                currency: USD
                amountRemaining: 100.0
                amountSpent: 0.0
                creationTime: '2013-10-16 12:24:01'
                lastModified: '2013-10-16 12:24:01'
                startDate: '2013-11-16'
                runForever: false
                type: CAMPAIGN
                pacing: DAILY_TARGET
                dailyTarget: 200.0
                maximumAmount: 200.0
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteBudgetsId
      summary: Delete an existing Budget
      description: Only a detached budget (a budget that is not attached to any campaign) and no traffic was made on it, can
        be deleted.
      tags:
      - Budgets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the Budget id
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /marketers/{id}/budgets:
    get:
      operationId: getMarketersIdBudgets
      summary: List Budgets for a Marketer
      description: "Retrieve a collection of all Budgets for the specified Marketer.\n\nThe Budgets Collection resource has\
        \ the following attributes:\n\n- \ncount - Number of Budgets found for this Marketer\n\n- \nbudgets - Array of budget\
        \ objects"
      tags:
      - Budgets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the id of the Marketer
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      - name: detachedOnly
        in: query
        required: false
        schema:
          type: boolean
        description: return only budgets that are not attached to any campaign
        example: 'true'
      responses:
        '200':
          description: JSON representation of all Budgets associated with Marketer {id}
          content:
            application/json:
              schema:
                type: object
              example:
                count: 1
                budgets:
                - id: 00f4b02153ee75f3c9dc4fc128ab041962
                  name: Boost 'ABC' Brand budget
                  shared: false
                  amount: 100.0
                  currency: USD
                  amountRemaining: 100.0
                  amountSpent: 0.0
                  creationTime: '2013-10-16 12:24:01'
                  lastModified: '2013-10-16 12:24:01'
                  startDate: '2013-11-16'
                  runForever: false
                  type: CAMPAIGN
                  pacing: DAILY_TARGET
                  dailyTarget: 200.0
                  maximumAmount: 200.0
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createMarketersIdBudgets
      summary: Create a Budget for a Marketer
      description: 'To create a new budget use the following properties


        Property

        Type

        Semantic

        Example


        name

        String

        The name of this Budget. Must be unique per each marketer. Maximum length is 100 characters.

        "First  quarter budget"


        amount

        Money

        The monetary amount of this Budget

        2000.00


        startDate

        Date

        The date this Budget is scheduled to begin spending.

        "2014-01-15"


        endDate

        Date

        The date this Budget is scheduled to stop spending. If runForever is true this will not be used.

        "2014-01-17"


        runForever

        Boolean

        Designates whether the budget has an end date. In case of true, endDate attribute will be ignored.

        true


        type

        Budget Type

        Controls on which period the Budget refreshes

        "MONTHLY"


        pacing

        Pacing Type

        Controls how fast the Budget will be spent. For budget type DAILY only SPEND_ASAP pacing is supported.

        "AUTOMATIC"


        dailyTarget

        Money

        The maximum amount of spend that is allowed per day. Mandatory only in case the pacing is set to DAILY_TARGET

        100.00'
      tags:
      - Budgets
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the id of the Marketer
        example: 00f4b02153ee75f3c9dc4fc128ab041962
      - name: detachedOnly
        in: query
        required: false
        schema:
          type: boolean
        description: return only budgets that are not attached to any campaign
        example: 'true'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              name: new budget
              amount: 100
              startDate: '2014-06-26'
              endDate: '2015-07-26'
              pacing: SPEND_ASAP
              type: CAMPAIGN
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
              example:
                id: 006b09dce4c948774439b4c1ee6a05d0aa
                name: new budget
                shared: false
                amount: 100.0
                currency: CAD
                amountRemaining: 100.0
                amountSpent: 0.0
                creationTime: '2014-12-22 08:19:18'
                lastModified: '2014-12-22 08:19:18'
                startDate: '2015-06-26'
                endDate: '2014-07-26'
                runForever: false
                type: CAMPAIGN
                pacing: SPEND_ASAP
          headers:
            AMPLIFY-REQUEST-ID:
              description: Request correlation / rate-limit signal
              schema:
                type: string
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locations/search:
    get:
      operationId: getLocationsSearch
      summary: Search GeoLocations
      description: 'This endpoint allows to search a single geo location term.

        Results can be filtered by supplying additional query parameters.'
      tags:
      - Geo Locations
      parameters:
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: The search term
        example: United States
      - name: limit
        in: query
        required: false
        schema:
          type: number
        description: The limit of the search query. Default is 300
        example: '6'
      - name: include
        in: query
        required: false
        schema:
          type: string
        description: which geoTypes to return
        example: Region
      - name: exclude
        in: query
        required: false
        schema:
          type: string
        description: which geoTypes to filter out of the results
        example: Country
      - name: exactMatch
        in: query
        required: false
        schema:
          type: boolean
        description: search the exact term when true. The default is false
        example: 'true'
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: return results from this country only
        example: United States
      - name: locationsVersion
        in: query
        required: false
        schema:
          type: string
        description: The regions inventory to search in. V1 for FIPS and V2 for ISO-3166. The default is V1
        example: V2
      responses:
        '200':
          description: Array of all GeoLocations which complies to the search
          content:
            application/json:
              schema:
                type: object
              example:
                geoLocations:
                - id: fc4deb5112fb4415a9edacdf4aafb0d8
                  name: United States
                  canonicalName: United States
                  geoType: Country
                  code: US
                - id: c20768bb56a25c22299c38801e935c3a
                  name: United Kingdom
                  geoType: Country
                  canonicalName: United Kingdom
                  code: GB
                excludedGeoLocations:
                - name: Alabama
                  id: 5d01f8eab282fcd783aff5c09bb8fc7a
                  parent:
                    geoType: Country
                    canonicalName: United States
                    name: United States
                    id: fc4deb5112fb4415a9edacdf4aafb0d8
                  geoType: Region
                  canonicalName: Alabama, United States
                - parent:
                    geoType: Country
                    canonicalName: United States
                    name: United States
                    id: fc4deb5112fb4415a9edacdf4aafb0d8
                  geoType: DMA
                  canonicalName: Eugene OR, United States
                  name: Eugene OR
                  id: be482a98eeddfc2009ac2f1c181eac79
                - parent:
                    canonicalName: United States
                    geoType: Country
                    id: fc4deb5112fb4415a9edacdf4aafb0d8
                    name: United States
                  geoType: PostalCode
                  canonicalName: 96373, FPO, , United States
                  name: 96373, FPO
                  id: 419268adfd7cc1751233df8337b97671
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locations/search/multiple:
    post:
      operationId: createLocationsSearchMultiple
      summary: Search Multiple GeoLocation Terms
      description: This endpoint allows to search multiple geo locations terms.
      tags:
      - Geo Locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            example:
              searchItems:
              - include:
                - Country
                term: France
                limit: 100
                exactMatch: true
              - include:
                - Country
                term: Belgium
                limit: 100
                exactMatch: true
              - include:
                - Region
                term: BW
                limit: 100
                exactMatch: true
              locationsVersion: V2
      responses:
        '200':
          description: Array of all GeoLocations which complies to the search
          content:
            application/json:
              schema:
                type: string
              example: "{\n    \"successes\" : [\n        {\n            \"searchItem\" : {\n                \"term\" : \"\
                France\",\n                \"limit\" : 100,\n                \"include\" : [\"Country\"],\n              \
                \  \"exactMatch\" : true\n            },\n            \"geoLocations\" : [\n                {\n          \
                \          \"id\" : \"104001b51d842051ccd77ba5a4ff6290\",\n                    \"geoType\" :\" Country\",\n\
                \                    \"name\" : \"France\",\n                    \"canonicalName\" : \"France\",\n       \
                \             \"code\" :\" FR\"\n                }\n            ]\n        },\n        {\n            \"searchItem\"\
                \ : {\n                \"term\" : \"Belgium\",\n                \"limit\" : 100,\n                \"include\"\
                \ : [\"Country\"],\n                \"exactMatch\" : true\n            },\n            \"geoLocations\" :\
                \ [\n                {\n                    \"id\" : \"5e0140a71b69e5f6af0798901a340a68\",\n             \
                \       \"geoType\" : \"Country\",\n                    \"name\" : \"Belgium\",\n                    \"canonicalName\"\
                \ : \"Belgium\",\n                    \"code\" : \"BE\"\n                }\n            ]\n        }\n   \
                \ ],\n    \"failures\" : [\n        {\n            \"searchItem\" : {\n                \"term\" : \"BW\",\n\
                \                \"limit\" : 100,\n                \"include\" : [\"Region\"],\n                \"exactMatch\"\
                \ : false\n            },\n            \"failureReasons\": [\n                \"reason 1\", \"reason 2\"\n\
                \            ]\n        }\n    ],\n    \"successesCount\" : 2,\n    \"failuresCount\" : 1\n}\n<a name=\"supported_languages\"\
                ></a>\n"
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metadata/supportedLanguages:
    get:
      operationId: getMetadataSupportedLanguages
      summary: Retrieve all supported language
      description: Returns all supported languages
      tags:
      - Geo Locations
      responses:
        '200':
          description: All supported languages.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
              example:
              - name: Slovenian
                code: sl
              - name: Lithuanian
                code: lt
              - name: Indonesian
                code: id
              - name: Norwegian
                code: 'no'
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /interests/search:
    get:
      operationId: getInterestsSearch
      summary: Search Interests by term
      description: 'Returns all interests which complies to a given search term.

        Results can be filtered by supplying additional query parameters.'
      tags:
      - Interest Targeting
      parameters:
      - name: term
        in: query
        required: true
        schema:
          type: string
        description: The search term
      - name: limit
        in: query
        required: false
        schema:
          type: number
        description: The limit of the search query.
        example: '100'
      responses:
        '200':
          description: All available interests which complies to the search
          content:
            application/json:
              schema:
                type: object
              example:
                interests:
                - id: 008e78c8c0fb3ed17d00baec8d2246c957
                  name: Dentistry
                  canBeTargeted: true
                  reachEstimationCount: 283788
                - id: 00f076b1618fe14032fea2b5427dd48a8e
                  name: Cold and Flu
                  canBeTargeted: true
                  reachEstimationCount: 524168
                - id: 00a389a8d7dbfa1f45cf86350a050e42d1
                  name: Aging
                  canBeTargeted: true
                  reachEstimationCount: 5171084
                count: 3
        '400':
          description: Bad Request - the request could not be understood or was missing required parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication failed or the user lacks permission for the requested operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found - resource was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - request exceeded rate limits; see the rate-limit-msec-left header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /interests/all:
    get:
      operationId: getInterestsAll
      summary: Retrieve all available interests
      description: Returns all available interests.
      tags:
      - Interest Targeting
      responses:
        '200':
          description: All available interests.
          content:
            application/json:
              schema:
                type: string
              example: "{\n\"interests\": [\n   {\n        \"id\": \"00b4a4206b4700dc7f31859f25bf1b9171\",\n        \"name\"\
                : \"Home and Lifestyle\",\n        \"canBeTargeted\": false,\n        \"subConcepts\": [\n        {\n    \
                \        \"id\": \"003a88d4853aa884699d77da749851a023\",\n            \"name\": \"Relationships\",\n     \
[...]
